In [ ]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,
    emp_name TEXT NOT NULL,
    age INTEGER CHECK (age >= 18),
    email TEXT UNIQUE NOT NULL,
    salary DECIMAL DEFAULT 30000
);
""")


conn.commit()


cursor.execute("PRAGMA table_info(employees);")
columns = cursor.fetchall()
print("Table structure:", columns)

cursor.close()
conn.close()

Table structure: [(0, 'emp_id', 'INTEGER', 0, None, 1), (1, 'emp_name', 'TEXT', 1, None, 0), (2, 'age', 'INTEGER', 0, None, 0), (3, 'email', 'TEXT', 1, None, 0), (4, 'salary', 'DECIMAL', 0, '30000', 0)]

In [ ]:
#2. Explain the purpose of constraints and how they help maintain data integrity in a database. Provide examples of common types of constraints.
'''
Purpose of Constraints in a Database
Constraints in a database are rules applied to columns or tables that ensure the integrity, accuracy, and reliability of the data stored in the database. They are used to
 restrict the type of data that can be entered into a table, ensuring that only valid data is allowed.The primary purpose of constraints is to maintain data integrity, ensuring
  that data meets specific requirements, is consistent, and follows predefined rules. Constraints prevent
 errors like duplicate records, invalid data types, and out-of-range values.

 How Constraints Help Maintain Data Integrity
Preventing Invalid Data: Constraints ensure that only valid and meaningful data can be inserted into the database.
Ensuring Consistency: Constraints ensure that relationships between tables and data within them remain consistent.
Improving Accuracy: Constraints help enforce rules to prevent incorrect or missing data from entering the database.
Supporting Business Rules: They allow you to implement business logic directly within the database (e.g., age must be greater than or equal to 18).
Avoiding Data Redundancy: Constraints like UNIQUE prevent duplicate data from being inserted into the table.

Common Types of Constraints
PRIMARY KEY

Purpose: Ensures that a column (or a combination of columns) uniquely identifies each row in a table.
How it works: A primary key column cannot contain NULL values, and all values must be unique.
Example:
'''

In [ ]:
import sqlite3

# Connect to SQLite database (it will create a file if it doesn't exist)
conn = sqlite3.connect('/content/example.db')  # This creates a database file named example.db
cursor = conn.cursor()

# SQL query to create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,  -- emp_id is the primary key
    emp_name TEXT NOT NULL,      -- emp_name must not be NULL
    age INTEGER CHECK (age >= 18),  -- age must be at least 18
    email TEXT UNIQUE NOT NULL,  -- email must be unique and not NULL
    salary DECIMAL DEFAULT 30000  -- salary defaults to 30000 if not provided
);
"""

# Execute the SQL query to create the table
cursor.execute(create_table_query)

# Commit the changes to save the table in the database
conn.commit()

# Verify that the table has been created by listing the tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())  # This will print a list of tables in the database

# Close the cursor and the connection at the end
cursor.close()
conn.close()

[('employees',)]

In [ ]:
#Not Null
'''
Ensures that a column cannot have a NULL value.
Useful when a column must always contain a value
Example
'''
import sqlite3

# Connect to SQLite database (it will create a file if it doesn't exist)
conn = sqlite3.connect('/content/example.db')  # The database will be saved in the current directory
cursor = conn.cursor()

# SQL query to create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,  -- emp_id is the primary key (not NULL implicitly)
    emp_name TEXT NOT NULL       -- emp_name must not be NULL (explicit NOT NULL constraint)
);
"""

# Execute the SQL query to create the table
cursor.execute(create_table_query)

# Commit the changes to save the table in the database
conn.commit()

# Verify that the table has been created by listing the tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())  # This will print the list of tables in the database

# Close the cursor and the connection
cursor.close()
conn.close()

[('employees',)]

In [ ]:
#Foreign key
'''
A Foreign Key is a column or a combination of columns in one table that refers to the Primary Key in another table. The foreign key establishes a relationship between the two
 tables and ensures data integrity by enforcing rules on how data in one table relates to data in another
 example
 '''
import sqlite3


conn = sqlite3.connect('example.db')
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL
);
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY,
    student_name TEXT NOT NULL,
    course_id INTEGER,
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);
""")


conn.commit()
cursor.close()
conn.close()

In [ ]:
#3.Why would you apply the NOT NULL constraint to a column? Can a primary key contain NULL values? Justify your answer.
'''


1. Why would you apply the NOT NULL constraint to a column?

The NOT NULL constraint is used in databases to ensure that a column cannot contain `NULL` values. There are several reasons for applying the `NOT NULL` constraint:

1. Data Integrity:
   - Enforcing the `NOT NULL` constraint ensures that critical data is not missing. For example, if you have a column that stores an employee's name, you wouldn't want to allow
    `NULL` values because every employee should have a name in the database.
   - This constraint guarantees that essential information is always provided.

2. Ensuring Accurate Calculations:
   - When performing calculations or queries that require specific values, having `NULL` entries can result in errors or incorrect results. By ensuring a column is `NOT NULL`,
    you can avoid issues when running calculations or generating reports.

3. Validation:
   - The `NOT NULL` constraint is useful for validating that a column has valid data. For example, if you have a column to store the email address of users, applying `NOT NULL`
    ensures that users' email addresses cannot be missing.

4. Optimized Performance:
   - Databases typically handle `NULL` values in a special way. Allowing `NULL` values in a column could introduce additional complexity when querying or indexing. In some cases,
    avoiding `NULL` values can help optimize database performance by simplifying indexing and search operations.

2. Can a primary key contain NULL values?

No, a primary key cannot contain `NULL` values. Here's why:

1. Uniqueness Requirement:
   - A primary key must ensure that every row in the table is uniquely identifiable. The primary key must have a **unique** value for each record.
   - `NULL` values are not considered unique because, by definition, `NULL` represents an unknown or missing value. If you were to allow `NULL` in the primary key, it would
    conflict with the principle that each record should have a unique identifier.

2. Integrity Constraints:
   - A primary key enforces the entity integrity constraint, which means that every row in the table must have a distinct and non-null identifier. Allowing `NULL` in the primary
    key would violate this integrity.

3. Relational Database Rules:
   - In relational databases, a `NULL` value is treated as unknown. Since `NULL` is not a valid or fixed value, it can't serve as a unique identifier for a record.

4. Automatic Not Null:
   - The primary key constraint implicitly includes a `NOT NULL` constraint. This means that when you define a primary key on a column, the database automatically ensures that
    `NULL` values are not allowed in that column.

#4. Explain the steps and SQL commands used to add or remove constraints on an existing table. Provide an example for both adding and removing a constraint.
'''
To remove a constraint from an existing table, we also use the ALTER TABLE statement.  However, the DROP CONSTRAINT clause is used to remove a constraint.
Steps:
Identify the Constraint to Remove
Use the ALTER TABLE Command
example

#ALTER TABLE table_name
#DROP CONSTRAINT constraint_name

removing a UNIQUE Constraint
Assume we want to remove the unique_email constraint we added earlier

ALTER TABLE employees
DROP CONSTRAINT unique_email;

This command removes the unique_email constraint from the employees table, allowing duplicate email addresses in the future.

In [ ]:
#5Explain the consequences of attempting to insert, update, or delete data in a way that violates constraints.Provide an example of an error message that might occur
# when violating a constraint.
'''
Consequences of Violating Constraints
When you attempt to insert, update, or delete data in a way that violates a constraint, the database management system (DBMS) will prevent the action from being completed and
 will typically raise an error. Constraints are rules that ensure the integrity, accuracy, and consistency of the data in the database. Violating these constraints compromises
  the integrity of the database, and the DBMS enforces the rules by rejecting the operation.
  Consequences of Violating Constraints:
Data Integrity: The database ensures that the data remains valid according to the defined business rules. Violating constraints leads to invalid or inconsistent data, which can
 cause inaccurate reports, calculations, or system errors in downstream applications.

Transaction Failure: If a constraint violation occurs during a transaction, the entire transaction is rolled back (in most cases) to maintain the database's consistency and
 integrity. This means no changes will be saved to the database.

Error Message: The DBMS will return an error message that indicates the nature of the violation. This error message helps the developer or user understand why the operation
 failed and can guide them to fix the issue.

Loss of Relationships: In the case of foreign key constraints, violating the constraint can break relationships between tables, leading to orphaned records or data
 inconsistencies.

User Experience Issues: For applications interacting with the database, constraint violations can cause user-facing errors, delays, or crashes, which degrade the quality of
 service.
 Example of an Error Message When Violating a Constraint
 Not Null Violation
 INSERT INTO employees (emp_id, emp_name, age, email, salary)
VALUES (1, NULL, 25, 'john@example.com', 50000);
  Error
ERROR: column "emp_name" cannot be null

6. You created a products table without constraints as follows:

CREATE TABLE products (

    product_id INT,

    product_name VARCHAR(50),

    price DECIMAL(10, 2));
Now, you realise that?
: The product_id should be a primary keyQ
: The price should have a default value of 50.00

Answer
To modify the existing table products and add the constraints you realized were missing (setting product_id as the primary key and giving the price column a default value of 50.00), you cannot directly add a constraint using the ALTER TABLE command to modify columns with constraints in SQLite. However, for SQLite (the context you are using), the steps generally require the following approach:

Create a new table with the desired constraints.
Copy data from the old table to the new table.
Drop the old table.
Rename the new table to the original name

In [ ]:
import sqlite3

# Connect to SQLite database (it will create a file if it doesn't exist)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create the products table as per your specification
cursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER,          -- product_id is an integer
    product_name VARCHAR(50),    -- product_name is a string (up to 50 characters)
    price DECIMAL(10, 2)        -- price is a decimal with 2 decimal places
);
""")

# Commit changes and close
conn.commit()

# Verify if the table was created successfully by checking the table schema
cursor.execute("PRAGMA table_info(products);")
columns = cursor.fetchall()
print("Table columns:")
for column in columns:
    print(column)

# Close the connection
cursor.close()
conn.close()

print("Products table created successfully!")

Table columns:
(0, 'product_id', 'INTEGER', 0, None, 0)
(1, 'product_name', 'VARCHAR(50)', 0, None, 0)
(2, 'price', 'DECIMAL(10, 2)', 0, None, 0)
Products table created successfully!

In [ ]:
import sqlite3


conn = sqlite3.connect('example.db')
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE IF NOT EXISTS new_products (
    product_id INTEGER PRIMARY KEY,   -- Set product_id as Primary Key
    product_name TEXT,
    price DECIMAL(10, 2) DEFAULT 50.00  -- Set default value for price
);
""")


cursor.execute("""
INSERT INTO new_products (product_id, product_name, price)
SELECT product_id, product_name, IFNULL(price, 50.00)  -- Use 50.00 if price is NULL
FROM products;
""")


cursor.execute("DROP TABLE IF EXISTS products;")


cursor.execute("ALTER TABLE new_products RENAME TO products;")


conn.commit()
cursor.close()
conn.close()

print("Table modified successfully!")

Table modified successfully!

In [ ]:
#Suppose you have 2 tables, Write a query to fetch the student_name and class_name for each student using an INNER JOIN.

In [ ]:
import sqlite3

# Connect to SQLite database (it will create a file if it doesn't exist)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Drop the students table if it exists (to avoid the error from the previous run)
cursor.execute("DROP TABLE IF EXISTS students;")

# Drop the classes table if it exists (optional, in case you want to start fresh)
cursor.execute("DROP TABLE IF EXISTS classes;")

# Create the classes table
cursor.execute("""
CREATE TABLE IF NOT EXISTS classes (
    class_id INTEGER PRIMARY KEY,  -- class_id is the primary key
    class_name TEXT NOT NULL       -- class_name cannot be NULL
);
""")

# Create the students table with a foreign key referencing classes table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY,  -- student_id is the primary key
    student_name TEXT NOT NULL,      -- student_name cannot be NULL
    class_id INTEGER,                -- class_id is the foreign key
    FOREIGN KEY (class_id) REFERENCES classes (class_id)  -- foreign key constraint
);
""")

# Insert data into the classes table
cursor.executemany("""
INSERT INTO classes (class_id, class_name)
VALUES (?, ?);
""", [(101, 'Math'), (102, 'Science'), (103, 'History')])

# Insert data into the students table
cursor.executemany("""
INSERT INTO students (student_id, student_name, class_id)
VALUES (?, ?, ?);
""", [(1, 'Alice', 101), (2, 'Bob', 102), (3, 'Charlie', 103)])

# Commit changes
conn.commit()

# Query and print the data from the classes table
cursor.execute("SELECT * FROM classes;")
classes_data = cursor.fetchall()
print("Classes Table Data:")
for row in classes_data:
    print(row)

# Query and print the data from the students table
cursor.execute("SELECT * FROM students;")
students_data = cursor.fetchall()
print("\nStudents Table Data:")
for row in students_data:
    print(row)

# Close the connection
cursor.close()
conn.close()

print("\nTables 'students' and 'classes' created and data inserted successfully!")

Classes Table Data:
(101, 'Math')
(102, 'Science')
(103, 'History')

Students Table Data:
(1, 'Alice', 101)
(2, 'Bob', 102)
(3, 'Charlie', 103)

Tables 'students' and 'classes' created and data inserted successfully!

In [ ]:
import sqlite3

# Connect to the SQLite database (ensure it's the same database file)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Run the INNER JOIN query to fetch student_name and class_name
cursor.execute("""
SELECT students.student_name, classes.class_name
FROM students
INNER JOIN classes
ON students.class_id = classes.class_id;
""")

# Fetch all results
results = cursor.fetchall()

# Print the results
print("Student Name - Class Name")
for row in results:
    print(f"{row[0]} - {row[1]}")

# Close the connection
cursor.close()
conn.close()

Student Name - Class Name
Alice - Math
Bob - Science
Charlie - History

#8Consider the following three tables:
'''
Write a query that shows all order_id, customer_name, and product_name, ensuring that all products are
listed even if they are not associated with an order

Hint: (use INNER JOIN and LEFT JOIN)5

In [ ]:
import sqlite3

# Connect to SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('test_db.sqlite')
cursor = conn.cursor()

# Create 'orders' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS orders (
        order_id INTEGER PRIMARY KEY,
        order_date TEXT,
        customer_id INTEGER
    )
""")

# Create 'customers' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS customers (
        customer_id INTEGER PRIMARY KEY,
        customer_name TEXT
    )
""")

# Create 'products' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT,
        order_id INTEGER,
        FOREIGN KEY (order_id) REFERENCES orders(order_id)
    )
""")

# Commit changes and close the connection
conn.commit()

cursor.close()
conn.close()

In [ ]:
import sqlite3

# Connect to SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('test_db.sqlite')
cursor = conn.cursor()

# Create 'orders' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS orders (
        order_id INTEGER PRIMARY KEY,
        order_date TEXT,
        customer_id INTEGER
    )
""")

# Create 'customers' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS customers (
        customer_id INTEGER PRIMARY KEY,
        customer_name TEXT
    )
""")

# Create 'products' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT,
        order_id INTEGER,
        FOREIGN KEY (order_id) REFERENCES orders(order_id)
    )
""")

# Insert sample data into 'orders'
cursor.execute("""
    INSERT INTO orders (order_id, order_date, customer_id)
    VALUES (1, '2024-01-01', 101), (2, '2024-01-03', 102)
""")

# Insert sample data into 'customers'
cursor.execute("""
    INSERT INTO customers (customer_id, customer_name)
    VALUES (101, 'Alice'), (102, 'Bob')
""")

# Insert sample data into 'products'
cursor.execute("""
    INSERT INTO products (product_id, product_name, order_id)
    VALUES (1, 'Laptop', 1), (2, 'Phone', NULL)
""")

# Commit changes
conn.commit()

# Perform the query to get all order_id, customer_name, and product_name
cursor.execute("""
    SELECT o.order_id, c.customer_name, p.product_name
    FROM products p
    LEFT JOIN orders o ON p.order_id = o.order_id
    LEFT JOIN customers c ON o.customer_id = c.customer_id
""")

# Fetch and print the result
results = cursor.fetchall()
for row in results:
    print(row)

# Close the connection
cursor.close()
conn.close()

(1, 'Alice', 'Laptop')
(None, None, 'Phone')

9 Given the following tables:
Write a query to find the total sales amount for each product using an INNER JOIN and the SUM() function.

In [ ]:

import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE sales (
        sale_id INTEGER,
        product_id TEXT,
        amount INTEGER
    )
''')

c.execute("INSERT INTO sales VALUES (1, '101', 500)")
c.execute("INSERT INTO sales VALUES (2, '102', 300)")
c.execute("INSERT INTO sales VALUES (3, '101', 700)")

c.execute('''
    CREATE TABLE products (
        product_id TEXT,
        product_name TEXT
    )
''')

c.execute("INSERT INTO products VALUES ('101', 'Laptop')")
c.execute("INSERT INTO products VALUES ('102', 'Phone')")

conn.commit()
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

c.execute('''
    SELECT p.product_name, SUM(s.amount) AS total_sales
    FROM sales s
    INNER JOIN products p
    ON s.product_id = p.product_id
    GROUP BY p.product_name
''')

rows = c.fetchall()
for row in rows:
    print(row)

conn.close()

('Laptop', 1200)
('Phone', 300)

10 You are given three tables:
Write a query to display the order_id, customer_name, and the quantity of products ordered by each
customer using an INNER JOIN between all three tables.

In [ ]:
import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE orders (
        order_id INTEGER,
        order_date TEXT,
        customer_id INTEGER
    )
''')

c.execute("INSERT INTO orders VALUES (1, '2022-01-02', 1)")
c.execute("INSERT INTO orders VALUES (2, '2022-01-05', 2)")
c.execute("INSERT INTO orders VALUES (3, '2022-01-02', 1)")

c.execute('''
    CREATE TABLE customers (
        customer_id INTEGER,
        customer_name TEXT
    )
''')

c.execute("INSERT INTO customers VALUES (1, 'Alies')")
c.execute("INSERT INTO customers VALUES (2, 'Bob')")

c.execute('''
    CREATE TABLE order_details (
        order_id INTEGER,
        product_id TEXT,
        quantity INTEGER
    )
''')

c.execute("INSERT INTO order_details VALUES (1, '101', 2)")
c.execute("INSERT INTO order_details VALUES (1, '102', 1)")
c.execute("INSERT INTO order_details VALUES (2, '101', 3)")

conn.commit()

c.execute('''
    SELECT c.customer_name, o.order_date, od.product_id, od.quantity
    FROM customers c
    INNER JOIN orders o
    ON c.customer_id = o.customer_id
    INNER JOIN order_details od
    ON o.order_id = od.order_id
''')

rows = c.fetchall()
for row in rows:
    print(row)

conn.close()

('Alies', '2022-01-02', '101', 2)
('Alies', '2022-01-02', '102', 1)
('Bob', '2022-01-05', '101', 3)

In [ ]:
import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

c.execute('''
    SELECT o.order_id, c.customer_name, SUM(od.quantity) AS total_quantity
    FROM orders o
    INNER JOIN customers c
    ON o.customer_id = c.customer_id
    INNER JOIN order_details od
    ON o.order_id = od.order_id
    GROUP BY o.order_id, c.customer_name
''')

rows = c.fetchall()
for row in rows:
    print(row)

conn.close()

(1, 'Alies', 3)
(2, 'Bob', 3)

SQL COMMANDS

In [ ]:
#1-Identify the primary keys and foreign keys in maven movies db. Discuss the differences
#Primary key
#Primary keys are used to uniquely identify each record in a table. They must be unique for each row and cannot contain null values
#Foregin keys
#Foreign keys are columns in a table that link to the primary key of another table, enforcing referential integrity between the two tables.
#Difference Between Primary Keys and Foreign Keys
#primary key = Uniquely identifies each record in a table.
#Cannot have null values
#Each table can have only one primary key
#Foregin keys = Establishes a relationship between two tables
#Refers to the primary key of another table
#Can have duplicate values and can also contain null  values, depending on the relationship.
#Examples
'''
actor table → actor_id (Primary Key)
film table → film_id (Primary Key)
customer table → customer_id (Primary Key)
rental table → rental_id (Primary Key

film_actor table → actor_id (Foreign Key referencing actor.actor_id)
rental table → customer_id (Foreign Key referencing customer.customer_id)
rental table → inventory_id (Foreign Key referencing inventory.inventory_id)
inventory table → film_id (Foreign Key referencing film.film_id)

In [ ]:
import sqlite3


conn = sqlite3.connect("maven_movies.db")


cursor = conn.cursor()

In [ ]:
#list all details of actors
# Remove MySQL-specific commands
!sed -i '/SET /d' maven_movies.sql
!sed -i '/FOREIGN_KEY_CHECKS/d' maven_movies.sql
!sed -i '/AUTO_INCREMENT/d' maven_movies.sql
!sed -i '/CHARSET=/d' maven_movies.sql

print("SQL file cleaned for SQLite.")

SQL file cleaned for SQLite.